# 컴파일 에러(빌드 에러) 컴파일 에러(빌드 에러) 발생 원인과 해결
 - Next.js App Router 환경에서는 React의 훅(useEffect, useState 등)을 사용하는 컴포넌트는 
   반드시 "use client" 지시어가 필요합니다.

 # 린트 에러(ESLint, TypeScript)
 -불필요한 import 구문을 삭제하여 린트 에러를 해결해야 합니다.


# React Hook 규칙 위반
 - 초기에 useFirework 훅을 map, useMemo 등 콜백 내부에서 호출하는 방식으로 구현하여 에러가 발생하니
   컴포넌트 최상위에서만 호출하도록 구조를 변경하여 React의 훅 규칙을 준수해야 합니다.

# To Do 문서를 실제 코드 작업 시 다음 사항을 참고하여 작업해야 합니다.
 - 코드 작업 시 직접 연관된 PR 문서에 있는 내용을 참고하여 작업해야 합니다.
 - 각 단계별로 항목별 작업 완료 후 'production build' 진행하여 코드 작업 결과를 확인해야 합니다.
 - 코드 작업 결과를 확인하여 문제가 있는 경우 부연설명하지 말고 즉시 수정하여 작업하고 재빌드하여 확인해야 합니다.
 - 수정 후 사용자의 특별한 요구가 있기 전에는 부연설명없이 다음 단계로 내용을 사용자에게 알리고 확인 후 이동해야 합니다.
 

 
